<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aedifex</title>
    <link rel="icon" href="assets/logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kulim+Park&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<!-- example 1 - using absolute position for center -->
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #37abc8">
    <a class="navbar-brand abs" href="#"><img src="assets/logo-white.png" alt="" style="height: 30px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="https://feedback.minecraft.net/hc/en-us/articles/360038800232-Minecraft-Java-Edition-1-15-2">Minecraft Java 1.15.2</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <div class="px-3">
                    <a class="toggle-on" id="warning-toggle" onclick="turn_off_warnings()" href="#">Turn off warnings</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="version" href="" data-target="#myModal" data-toggle="modal">Aedifex</a>
            </li>
        </ul>
    </div>
</nav>

<div style="padding-left: 5vw; padding-right: 5vw">
    <div class="row py-3" id="search-row">
        <div class="col py-3" id="search-col">
            <div class="card-red">
                <h2 class="text-white" style="padding-right: 40%">Search</h2>
                <div class="input-group">
                    <input class="px-3" type="text" id="search" name="fname" style="border-radius: 20px; border: 0; width: 100%">
                    <a href="#" onclick="clear_search()" style="position: absolute; right: 15px; color: grey; top: 10%">Clear</a>
                </div>
                <br><br>
                <div style="height: 100%; width: 100%; overflow: hidden">
                    <div class="py-4"
                         style="overflow-y: scroll; overflow-x: visible; !important; height: 70vh; margin-right: -100px; padding-right: 100px;"
                         id="search-preview">

                    </div>
                </div>
                <br>
                <div class="row align-items-center">
                    <div class="col text-center">
                        <div class="text-center px-4" data-toggle="tooltip" title="" data-original-title="Currently not working. Coming soon!">
                            <a class="button-white" href="#">Import Recipes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col py-3" id="item-col">
            <div class="card-blue" >
                <div id="item-div">
                    <h2 class="text-white d-inline-block">Items</h2>
                    <div class="pl-3 d-inline-block" style="float:right" id="item-export">
                        <a class="button-green" onclick="exportItems()" href="#">Export</a>
                    </div>
                    <div class="px-3 d-inline-block" style="float:right" id="item-import">
                        <a class="button-light-blue" onclick="import_items()" href="#">Import</a>
                    </div>
                </div>


                <div class="pt-4" id="items">
                </div>
                <div class="row align-items-center" id="item-buttons">
                    <div class="col text-center py-3">
                        <a class="button-red" href="#" onclick="delete_all()">Delete All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col py-3" id="ing-col">
            <div class="card-yellow">
                <div id="ing-div">
                    <h2 class="text-white d-inline-block">Raw Ingredients</h2>
                    <div class="d-inline-block" style="float:right" id="ing-export">
                        <a class="button-green" onclick="exportIngredients()" href="#">Export</a>
                    </div>
                </div>
                <div class="pt-4" id="ingredients">
                </div>
                <div class="row align-items-center" id="ing-buttons">
                    <div class="col text-center py-2 px-4">
                        <div class="text-center" data-toggle="tooltip" title="" data-original-title="Breaks down into constituents.">
                            <a class="button-black" href="#" onclick="cata()"><img src="assets/decay.png" style="height: 30px"></a>
                        </div>
                    </div>
                    <div class="col text-center py-2 px-4">
                        <div class="text-center" data-toggle="tooltip" title="" data-original-title="Undo the last break down.">
                            <a class="button-white" href="#" onclick="ana()"><img src="assets/decaynt.png" style="height: 30px"></a>
                        </div>
                    </div>
                    <div class="col text-center py-2 px-4">
                        <div class="text-center" data-toggle="tooltip" title="" data-original-title="Undo all breakdowns.">
                            <a class="button-white" href="#" onclick="ana_complete()"><img src="assets/revert.png" style="height: 30px"></a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <div class="row py-3" id="item-row"></div>
    <div class="row py-3" id="ing-row"></div>
</div>
<div class="text-center" style="height: 99vh; width: 99vw">
    <img src="assets/logo.png" style="width: 20vh;padding-bottom: 35vh; padding-top: 35vh">
    <div style="height: 10vh">
        <p class="font-weight-bold day">
            Made with 🖤 by <a class="light" href="https://frankwhoee.codes">@frank <img src="assets/spacelogo.png" style="height: 2vh;border-radius: 3px"></a>
        </p>
        <a href="https://github.com/frankwhoee/aedifex"><img class="github-icon" src="assets/github-icon.svg"></a>
    </div>
</div>

<p id="copyboard">

</p>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.js"
        integrity="sha256-X52UxxXhNhqxzN/kkl6XoPC5i/48En56iWi0+NE9k+4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"
        integrity="sha256-98Q574VkbV+PkxXCKSgL6jVq9mrVbS7uCdA+vt0sLS8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


<script src="js/main.js"></script>

</body>
</html>